<div class="bannertitle headerpages">
  <div class="jumbotron headerpagesbackground">
    <h1 class="display-3 font-size-48--md-down mb-4">
      <strong class="u-text-animation u-text-animation--typing">Cat un jour catoujours !</strong>
    </h1>
    <hr class="my-4">
    <p class="lead font-weight-bold">Un jour je serais un tigre.</p>
  </div>
</div>


