

body {
  font-family: "Nunito Sans", sans-serif;
}

.btn-black{
  background-color: #55595c !important;
  color: #ffffff;
}

/* -------------------------PAGE AUTHENTIFICATION -------------------------*/

.main-head{
  height: 150px;
  background: #FFF;
 
}

/*.sidenav {
  height: 100%;
  background-color: #55595c ;
  overflow-x: hidden;
  padding-top: 20px;
}*/


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 25%;  


  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}



.row-fill-in{
  margin-top: 30%;

}

.form-signin {
  width: 100%;
  max-width: 480px;
  margin-top: 30%;
  margin-right: 40%;
}

.p-5 {
  padding: 2rem !important;
}

/* -------------------------PAGE BANNER------------------------- */

.homescreen{
  background-image: url('https://i.pinimg.com/originals/4c/ab/17/4cab17cfcfda453945d5baadef5cf6d9.jpg');  
  background-size: cover; 
  padding: 16%; 
  filter:grayscale(90%);
}

.headerpagesbackground{
  background-image: url('https://i.pinimg.com/originals/e3/f4/ed/e3f4edf7dc47359b20bd4176f88735cb.jpg'); 
  background-size: cover; 
  padding: 10%; 
  filter:grayscale(90%);
}

.bannertitle{
  color: black;
  font-family: 'Paytone One';
  text-shadow: #2A3D4E 1px 1px;
/* just copy this */
}


/* -------------------------PAGE CARDS------------------------- */

ul{
  list-style-type:none;
}

/*------------------------- EVENT PAGE------------------------- */

.pageevent{
  background-color: #d2d5d8 !important;
}


.colorevent{
  background-color: rgb(255, 255, 255) !important;

}

/* ------------------------- INDEX PAGE------------------------- */

.indextitle {
  margin-bottom: auto;
  font-size: x-large;
  color: red;
}

.buttonindex {
  background-color: #4CAF50;
}


/* -------------------------FOOTER------------------------- */ 

footer{
  position: absolute;
  min-width: 100%;
}

/* -------------------------SHOPPING CART PAGE-------------------- */


*, *::before, *::after {
    box-sizing: border-box;
}

section {
    display: block;
}
body.skin-light {
    color: #4f4f4f;
}

.bodycartpage {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}

.margindiv {
  width:400px;
  margin: 20px;
}



/* ------------PROFIL PAGE -------------- */

.profilbody{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}
.cardprofil {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.cardprofil {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-bodyprofil {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}