    <div class="row"></div>
      <div class=" col-sm-2 col-lg-4 col-m-6">
        <form class="form-signin p-5">
          <fieldset>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group" data-children-count="1">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre adresse mail." data-kwimpalastatus="alive" data-kwimpalaid="1605002699794-2">
              <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse mail.</small>

            <div class="form-group" data-children-count="1">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" data-kwimpalastatus="alive" data-kwimpalaid="1605002699794-0">
           
            <fieldset class="form-group">
              <legend>Checkboxes</legend>
              <div class="form-check">
                <label class="form-check-label" data-children-count="1">
                  <input class="form-check-input" type="checkbox" value="" checked="">
                  Se souvenir de moi 
                </label>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Connexion</button>
          </fieldset>
        </form>
      </div>
    </div>
    
