

body {
  font-family: "Nunito Sans", sans-serif;
}

.btn-black{
  background-color: #55595c !important;
  color: #ffffff;
}

/* -------------------------PAGE AUTHENTIFICATION -------------------------*/

.main-head{
  height: 150px;
  background: #FFF;
 
}

/*.sidenav {
  height: 100%;
  background-color: #55595c ;
  overflow-x: hidden;
  padding-top: 20px;
}*/


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 25%;  


  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}



.row-fill-in{
  margin-top: 30%;

}

.form-signin {
  width: 100%;
  max-width: 480px;
  margin-top: 30%;
  margin-right: 40%;
}

.p-5 {
  padding: 2rem !important;
}

/* -------------------------PAGE BANNER------------------------- */

.homescreen{
  background-image: url('https://i.pinimg.com/originals/4c/ab/17/4cab17cfcfda453945d5baadef5cf6d9.jpg');  
  background-size: cover; 
  padding: 16%; 
  filter:grayscale(90%);
}

.headerpagesbackground{
  background-image: url('https://i.pinimg.com/originals/e3/f4/ed/e3f4edf7dc47359b20bd4176f88735cb.jpg'); 
  background-size: cover; 
  padding: 10%; 
  filter:grayscale(90%);
}

.bannertitle{
  color: black;
  font-family: 'Paytone One';
  text-shadow: #2A3D4E 1px 1px;
/* just copy this */
}


/* -------------------------PAGE CARDS------------------------- */

ul{
  list-style-type:none;
}

/*------------------------- EVENT PAGE------------------------- */

.pageevent{
  background-color: #d2d5d8 !important;
}


.colorevent{
  background-color: rgb(255, 255, 255) !important;

}

/* ------------------------- INDEX PAGE------------------------- */

.indextitle {
  margin-bottom: auto;
  font-size: x-large;
  color: red;
}

.buttonindex {
  background-color: #4CAF50;
}


/* -------------------------FOOTER------------------------- */ 

footer{
  position: absolute;
  min-width: 100%;
}

/* -------------------------SHOPPING CART PAGE-------------------- */


*, *::before, *::after {
    box-sizing: border-box;
}

section {
    display: block;
}
body.skin-light {
    color: #4f4f4f;
}

.bodycartpage {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}

.margindiv {
  width:400px;
  margin: 20px;
}

/* ------------PROFIL PAGE -------------- */



.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}


/* --------------STRIPE---------------- */

.stripe {
  width: 300px;
  border-radius: 0.2em !important;
  border: 0 !important;
  background-image: none !important;
  background-color: #33af0d !important;
  font-weight: normal !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  margin-top: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 0.5rem !important;
  border-radius: 1.078em !important;
  cursor: pointer !important;
}

.stripe-button-el span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI" !important;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  font-size: 0.875rem !important;
  border-radius: 0.2em !important;
  border: 0 !important;
  border-color: #02B875 !important;
  background-image: none !important;
  background: #02B875 !important;
  background-color: #02B875 !important;
  box-sizing: border-box !important;
  outline: 0 !important;
  background: transparent !important;
}