

body {
  font-family: "Nunito Sans", sans-serif;
}

.btn-black{
  background-color: #55595c !important;
  color: #ffffff;
}

/* PAGE AUTHENTIFICATION */

.main-head{
  height: 150px;
  background: #FFF;
 
}

/*.sidenav {
  height: 100%;
  background-color: #55595c ;
  overflow-x: hidden;
  padding-top: 20px;
}*/


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 25%;  


  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}



.row-fill-in{
  margin-top: 30%;

}

.form-signin {
  width: 100%;
  max-width: 480px;
  margin-top: 30%;
  margin-right: 40%;
}

.p-5 {
  padding: 2rem !important;
}

/* PAGE BANNER */

.homescreen{
  background-image: url('https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');  
  background-size: cover; 
  padding: 10%; 
  filter:grayscale(90%);
}

.headerpagesbackground{
  background-image: url('https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'); 
  background-size: cover; 
  padding: 10%; 
  filter:grayscale(90%);
}

/* PAGE CARDS */

ul{
  list-style-type:none;
}

/* EVENT PAGE */

.pageevent{
  background-color: #d2d5d8 !important;
}


.colorevent{
  background-color: rgb(255, 255, 255) !important;

}

/* INDEX PAGE */

.indextitle {
  margin-bottom: auto;
  font-size: x-large;
  color: red;
}

.buttonindex {
  background-color: #4CAF50;
}


/* FOOTER */ 

footer{
  position: absolute;
}