<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="datefooter"> 
          <p>2020</p>
          </div>
          <div class="col-6 col-md">
            <h5> À propos </h5>
            <p>Site réalisé par Louison Boisselier, Emma Le Goof, Emilie Aussage et Lola Leandri. </p>
          </div>
      </div>
</footer>