<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md"> 
            <img class="mb-2" src="https://verveintl.com/wp-content/uploads/2019/03/Events_white_cmyk.png" alt="" width="60" height="60">
            <small class="d-block mb-3 text-muted ml-3"> 2020 </small>
          </div>
          <div class="col-6 col-md">
            <h5> À propos </h5>
              <ul class="list-unstyled text-small"> 
                <li>
                 <%= link_to "Accueil", items_path, class:"nav-link" %> 
                </li>
                <li>
                 <%= link_to "Team", items_path, class:"nav-link" %> 
                </li>
              </ul>
          </div>
      </div>
</footer>