<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class = "row">
  <div class = "col-12 col-md"> 
  <%= link_to image_tag "" %>
  </div>
	<div class="col-6 col-md">
 		<h5> À propos </h5>
    	<ul class="list-unstyled text-small"> 
      	<li>
        	<%=link_to "Équipe", class:"text-muted" %>
      	</li>
     	 <li>
      	<%=link_to "Contact", class:"text-muted" %>
     	 </li>
    	</ul>
</footer>